
Assignment1/similarity_module.html
.vscode/settings.json
Assignment1/PCP Demo Assignment 1.mp4
Assignment1/PCP_Demo_Assignment_1.mp4
Assignment2/PCP_Demo_Assignment_2.mp4
Assignment2/Implementation_Report_2.docx